*, *::before, *::after {
  cursor: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-black-color: #0c0f16;
  --primary-white-color: #b0bac6;
  --primary-red-color: #ff3d00;
}


header {
  background-color: var(--primary-black-color);
 
  padding: 0.5rem 1rem;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: var(--primary-white-color);
    background-color: var(--primary-black-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
  
  nav a:hover {
    background: #FF3D00;
    background: linear-gradient(0deg, var(--primary-red-color) 0%, var(--primary-red-color) 8%, var(--primary-black-color) 50%);
  }
}

@media (max-width: 760px) {
  nav ul {
    flex-direction: column;
  }

  .blog-image {
      max-width: 100%;
    }
}

.inleiding{
  max-width: 1440px;

  h1 {
    margin: 1rem 0;
  }

  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h1, h2, h3, h4, p, summary, small {
    color: var(--primary-white-color);
  }
}

main {
  background-image: url(https://static-dm.ubisoft.com/siege/prod/0488c0280e77f5f02cb0915c18fa2e7a.jpg);
  & section {
    padding: 2em;
  }
}


footer {
  padding: 1rem;
}

