main {
  display: flex;
  flex-direction: column;
}



body.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.home-page main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.home-page .main-menu {
  flex: 1;
}

.middle-section {
  display: flex;
  background-image: url(https://static-dm.ubisoft.com/siege/prod/0488c0280e77f5f02cb0915c18fa2e7a.jpg);
  gap: 1.25rem;

  & p, h3 {
    padding: 0.5rem;
  }
  & .favoriteTalker {
    height: min-content;
    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    & a {
      width: 100%;
      display: block;
    }
  }
   
   
    & div {
      background-color: var(--primary-black-color);
      color: var(--primary-white-color);
    }
    & h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    & .projectsHomepage {
      max-width: 55vw;
      & ul {
        gap: 1.875rem;
        display: flex;
        flex-direction: column;
      }
      & img {
        width: 40%;
        height: 40%;
      }
      & figure {
        display: flex;
        gap: 1rem;
        background-color: var(--primary-black-color);
        color: var(--primary-white-color);
      }
    }
  }
 

.meesterproefHomepage {
  background-image: url(/public/images/FramerFramed.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  height: 80vh;
  aspect-ratio: 4 / 3;
  object-fit: cover;

  background-color: aqua; /* alleen zichtbaar als de image transparant is */
  & article {
    background-color: rgba(12,15,22,.66);
    border: 1px solid rgba(176,186,198,.5);
    backdrop-filter: blur(3px);
    color: var(--primary-white-color);
    max-width: 27.5rem;
    & h2, p {
      padding: 0.5rem;
    }
  }
  & div {
    padding: 1.875rem;
  }
  & a {
    width: 100%;
    display: block;
  }
}
