main {
  display: flex;
  flex-direction: column;
}

body.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.home-page main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.home-page .main-menu {
  flex: 1;
}

.middle-section {
  display: flex;
  background-image: url(https://static-dm.ubisoft.com/siege/prod/0488c0280e77f5f02cb0915c18fa2e7a.jpg);
  & .projectsHomepage {
    padding: 1.25rem;
    & ul {
      gap: 1.875rem;
    }
    & figure {
      display: flex;
      gap: 1rem;
      background-color: var(--primary-black-color);
      color: var(--primary-white-color);
    }
    & img {
      width: 20%;
      height: auto;
    }
  }
  
  
}

.meesterproef {
  background-image: url(/public/images/FramerFramed.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  height: 80vh;
  aspect-ratio: 4 / 3;
  object-fit: cover;

  padding: 2rem;
  background-color: aqua; /* alleen zichtbaar als de image transparant is */
  & article {
    background-color: rgba(12,15,22,.66);
    border: 1px solid rgba(176,186,198,.5);
    backdrop-filter: blur(3px);
    color: var(--primary-white-color);
    max-width: 27.5rem;
    padding: 1.875rem 1.875rem 4.375rem;
  }
}
