{% layout "server/layouts/base.liquid" %}

{% block content %}
<section>
  <div class="inleiding">
    <h1>Laurens' Weekly Nerd blog</h1>
    <p>Welkom op mijn blog waar ik schrijf over de Weekly Nerds op de minor Web Development, uitkomsten van de hackaton en
      mijn prsoonlijke leerdoelen. Hieronder vind je een overzicht van de onderwerpen:</p>
  </div>

</section>


{% render '../components/talkers/talkers.liquid' weeklyNerdData: weeklyNerdData %}

<section class="middle-section">
  {% if featuredNerd %}
    {% render '../components/favoriteTalker/favoriteTalker.liquid' featuredNerd: featuredNerd %}
  {% else %}
  <p>Er is geen featured Nerd</p>
  {% endif %}
  {% render '../components/projectsHomepage/projectsHomepage.liquid' randomVakken: randomVakken: %}
</section>

<section class="meesterproefHomepage">
  {% render '../components/meesterproefHomepage/meesterproefHomepage.liquid' meesterproef: meesterproef %}
</section>

{% endblock %}