{% comment %} <img src="/images/FramerFramed.jpeg" alt=""> {% endcomment %}

<article>
    <h2>{{ meesterproef.name }}</h2>
    <p>{{ meesterproef.description }}</p>
    <a href="/meesterproef">Lees meer</a>
</article>