.talkers {
    background-image: url(https://static-dm.ubisoft.com/siege/prod/0488c0280e77f5f02cb0915c18fa2e7a.jpg);
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
    & ul {
        display: flex;
        overflow: scroll;
        /* padding: 2em; */
    }
    & li {
        margin: 0 2em;
        text-align: center;
        background-color: var(--primary-black-color);
        border: solid 1px var(--primary-white-color);
        height: min-content;
    }
    figure {
        margin: 0;
        padding: 0;
        position: relative;
        width: 20em;
        border-radius: 0.5em;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        
    }
    & img {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }
    & a {
        background: var(--primary-red-color);
        color: var(--primary-black-color);
        text-decoration: none;
        width: 100%;
        text-align: center;
        padding: 1em;
        display: block;
        &:hover {
            background: var(--primary-white-color);
        }
    }
